
.fondoBody {
  
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  background-image: url(./img/fondo3.jpg);
}
body {
margin-left: 1%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  background-image: url(./img/fondo.jpg);
  
}
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
      
    }

    img {
        height: 600px;
        
    }
    .color {
        color: black;
    }
    button {
        color: black;
    }
    .logo, .inicio {
      box-shadow: 10px 5px 5px black;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin: 5%;
    }
    
    .inicio {
      margin: auto;
      margin: 5%;
    }
   .colorNav {
    background-color: #D7BC9E;
   }
  .tituloBaner {
    color: white;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  }
  .descripcionBaner{
    color: #000;
    font-size: 20px;
    text-shadow: -2px -2px 1px #fff, 2px 2px 1px #fff, -2px 2px 1px #fff, 2px -2px 1px #fff;
    }
  
    .tituloPampa {
      color: #fff;
    font-size: 20px;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    }
  }
  #myCarousel {
    margin-top: 5%;
    margin-bottom: 5%;
    }
.ciruclo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.cuadrado {
  width: 500px;
  height: 500px;
  margin-left: -0%;
}
footer {
  width: 100%;
}
.insta {
  width: 40px;
  height: 40px;
}
.pago {
  margin-left: -5%;
  width: 150px;
  height: 150px;
}
.seccionCirculo {
  margin-top: 2%;
}
.pampa {
  margin-top: 5%;
  width: 450px;
  height: 450px;
}
.tituloSecundario {
  margin-top: 25%;
}



/***************
SECCION NOSOTROS
****************/
.nosotros {
  margin-left: 10%;
  margin-top: 10%;
} 
.infoNos {
  margin-left: 2%;
  margin-top: 11%;
  color: black;
}



/******************
SMARTPHONE
******************/

@media (min-width: 320px) and (max-width: 480px) {
.pampa {
  margin-top: 15%;
}
}